<!-- begin: footer.tmpl -->
    <div id="footer">
			<p>Copyright &copy; <em>minimalistica</em> &middot; {{ updated }} &middot; Design: Luka Cvrk, <a href="http://www.solucija.com/" title="Free CSS Templates">Solucija</a></p>
		</div>
<!-- end: footer.tmpl -->