<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
  <div class="add_content">
		<h1>"Welcome"</h1>
		
		<ul class="add_menu">
			<li class="menu_ul_a"><a href="#">home</a></li>
			<li class="menu_ul_a"><a href="#">archive</a></li>
			<li class="menu_ul_a"><a href="#">contact</a></li>
		</ul>
    <div class="post">
			<div class="details">
				<h2><a href="#">"Photo gallery with different themes for all"</a></h2>
					
			</div>
			<div class="body">
				<p>Nunc eget nunc libero. Nunc commodo euismod massa quis vestibulum. 
	Proin mi nibh, dignissim a pellentesque at, ultricies sit amet sapien. 
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero laoreet facilisis. 
	Aenean placerat, ligula quis placerat iaculis, mi magna luctus nibh, adipiscing pretium erat neque vitae augue. 
	Quisque consectetur odio ut sem semper commodo. Maecenas iaculis leo a ligula euismod condimentum. 
	Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
	Ut enim risus, rhoncus sit amet ultricies vel, aliquet ut dolor. 
	Duis iaculis urna vel massa ultricies suscipit. Phasellus diam sapien, 
	fermentum a eleifend non, luctus non augue. 
	Quisque scelerisque purus quis eros sollicitudin gravida. 
	Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
			</div>
			<div class="x"></div>
		</div>
    <div id="page">
      <div id="header">
      {% include 'primary.tmpl' %}
      </div>

      <div id="footer">
        {% include 'footer.tmpl' %}
      </div>
    </div>  
    </div> 
  </body>
</html>